
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.histry{
  text-align: center;
}
.centered h3{
  color: #95CADB;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
}
.centered p{
  color: #95CADB;
  font-weight: bolder;
  font-family: 'Indie Flower', cursive;
}
.row{
  background-image: url("../img/img2.jpg");
}
body{
  background-color: #95CADB;
}
